.footer {
    background: #111827;
    color: white;
    padding: 70px 8% 25px;
    margin-top: 80px;
}

.footer-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1.2fr;
    gap: 50px;
}

/* Brand */

.footer-brand {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.footer-logo-img {
    width: 55px;
    height: 55px;
    object-fit: cover;
    border-radius: 50%;
}

.footer-logo {
    font-size: 32px;
    font-weight: 700;
    background: linear-gradient(90deg, #8b5cf6, #d946ef);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Columns */

.footer-col h3 {
    margin-bottom: 20px;
    font-size: 20px;
}

.footer-col p {
    color: #94a3b8;
    line-height: 1.8;
    margin-bottom: 10px;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 12px;
}

.footer-col ul li a {
    text-decoration: none;
    color: #94a3b8;
    transition: 0.3s;
}

.footer-col ul li a:hover {
    color: #8b5cf6;
}

/* Social Icons */

.social-icons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.social-icons a {
    width: 42px;
    height: 42px;
    background: #1f2937;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

.social-icons a:hover {
    background: linear-gradient(90deg, #8b5cf6, #d946ef);
    transform: translateY(-5px);
}

/* Divider */

hr {
    border: none;
    border-top: 1px solid #374151;
    margin: 45px 0 20px;
}

/* Bottom */

.footer-bottom {
    text-align: center;
    color: #94a3b8;
    font-size: 15px;
}

/* Responsive */

@media (max-width: 992px) {

    .footer-container {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 650px) {

    .footer-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .footer-brand {
        justify-content: center;
    }

    .social-icons {
        justify-content: center;
    }

}